/* font-family: 'Lato', sans-serif; */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --green: #59c45a;
  --white: #ffffff;
  --gray: #474747;
  --darkgray: #3c3c3c;
  --lightgray: #959595;
  --wrapWidth: 1920px;
  --contWidth: 1200px;
  --font: "Lato", sans-serif;
}
body {
  background: var(--white);
  font-family: var(--font);
}
.site-wrapper {
  max-width: var(--wrapWidth);
  margin: 0 auto;
}
.container {
  max-width: var(--contWidth);
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}
.menu {
}
.menu-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.menu-list__item {
}
.menu-list__link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--gray);
  display: block;
  padding: 56px 23px;
  font-size: 18px;
  font-weight: 900;
  transition: all 0.3s ease;
}
.menu-list__link:hover {
  color: var(--white);
  background: var(--green);
}
header .container {
  align-items: center;
}
.logo {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--green);
  font-size: 28px;
  display: block;
  padding: 12px 21px;
  border: 2px solid #b7b7b7;
  position: relative;
}
.logo:after {
  content: "travel";
  position: absolute;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  color: var(--green);
  padding: 0 15px;
  background: var(--white);
  bottom: -10px;
  left: 40px;
}
.mob-menu {
  display: none;
}

.home {
  min-height: 915px;
  background-image: url("../img/bg-shadow.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}
.container {
}
.home-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: inherit;
  text-align: center;
}
.home__title {
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: var(--white);
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.home__text {
  color: var(--white);
  max-width: 1000px;
  font-size: 22px;
  font-weight: 400;
  line-height: 38px;
  margin-bottom: 90px;
}
.home__link {
  color: var(--white);
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  background-color: var(--green);
  text-decoration: none;
  padding: 25px 44px;
}
.favor {
  padding: 100px 0 70px;
}
.section-title {
  text-align: center;
  text-transform: uppercase;
  color: var(--green);
  font-size: 28px;
  font-weight: 400;
  margin: 0;
  position: relative;
}
.section-title::before {
  content: "";
  position: absolute;
  display: block;
  width: 151px;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background: #c2c2c2;
}
.section-title::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  top: 39px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  background: var(--green);
}
.fav-container {
  flex-wrap: wrap;
  margin-top: 60px;
}
.fav-item {
  width: 48%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}
.fav__img {
  width: 40%;
  margin-right: 30px;
}
.fav-text {
  width: 280px;
}
.fav-text__title {
  color: var(--darkgray);
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 14px;
  margin-bottom: 23px;
}
.fav-text__descr {
  color: var(--lightgray);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.service {
  display: flex;
  background: #efeeee;
}
.service-slider {
  width: 50%;
  position: relative;
}
.slide {
}
.slide__img {
  height: 100%;
}
.slick-dots {
  position: absolute;
  width: 100%;
  bottom: 40px;
  left: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.slick-dots button {
  font-size: 0;
  border: none;
  cursor: pointer;
  width: 12px;
  height: 14px;
  border-radius: 50%;
  background: #bbcfcf;
  margin: 0 6px;
  outline: none;
}
.slick-active button {
  background: var(--white);
}
.slick-list,
.slick-track {
  height: 100%;
}
.service-block {
  width: 50%;
  padding: 60px 0;
}
.service-container {
  flex-wrap: wrap;
  max-width: 800px;
  margin: 60px auto 0;
}
.service-item {
  width: 48%;
  text-align: center;
  margin-bottom: 35px;
}
.service-item__img {
  margin-bottom: 25px;
}
.service-item__descr {
  color: var(--lightgray);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.tours {
  padding: 100px 0;
  text-align: center;
}
.section-title {
}
.container {
}
.tours-container {
  flex-wrap: wrap;
  margin: 75px auto;
}
.tours__link {
  flex: 0 24%;
  margin-bottom: 2%;
}
.tours__img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
.more {
  cursor: pointer;
  border: none;
  box-shadow: 0 0 35px rgba(89, 196, 90, 0.65);
  border-radius: 5px;
  background-color: var(--green);
  color: var(--white);
  font-size: 26px;
  font-weight: 400;
  padding: 25px 52px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.more:hover {
  box-shadow: 0 0 5px rgba(89, 196, 85, 1);
}

.contacts {
  padding: 100px 0 90px;
  background: #efeeee;
}
.contacts__title {
  margin: 0;
  color: var(--lightgray);
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
.contacts-container {
  margin-top: 60px;
}
.contacts-info,
.contacts-form {
  width: 50%;
  border: 1px solid #c9c9c9;
}
.contacts-info {
  padding: 35px 30px 60px;
}
.logo {
}
.footer-logo {
  display: inline-block;
}
.footer-logo::after {
  background-color: #efeeee;
}
.contacts-info__descr {
  margin: 40px 0 30px;
  color: var(--lightgray);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.contacts-item {
  margin-bottom: 18px;
  display: flex;
  align-items: center;
}
.contacts__list {
  color: #9b9b9b;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}
.fas {
  color: #ed7e01;
  font-size: 20px;
  margin-right: 20px;
}
.contacts__address {
}
.fa-phone-square-alt {
}
.contacts__phone {
}
.fa-envelope {
}
.contacts__email {
}
.fa-globe {
}
.contacts__site {
}
.socials {
  margin-top: 35px;
  display: flex;
}
.social__link {
  text-decoration: none;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: #c9c9c9;
  color: var(--white);
  margin-right: 10px;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  transition: all 0.3s ease;
}
.social__link:hover {
  transform: scale(1.2);
}
.social__fb:hover {
  background: #4267b2;
}
.social__gp:hover {
  background: #db4437;
}
.social__in:hover {
  background: #286782;
}
.social__tw:hover {
  background: #1da1f2;
}
.contacts-form {
  padding: 30px;
}
.form-submit {
  display: flex;
  flex-direction: column;
}
.input,
.textarea-coment {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #c9c9c9;
  background: transparent;
  font-size: 14px;
  font-weight: 400;
  color: var(--lightgray);
  margin-bottom: 30px;
  outline: none;
}
.input-name {
}
.input-email {
}
.textarea-coment {
  height: 130px;
  resize: none;
  margin-bottom: 60px;
}
.form-btn {
  width: 230px;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 35px rgba(89, 196, 90, 0.65);
  border-radius: 5px;
  background-color: var(--green);
  color: var(--white);
  font-size: 26px;
  font-weight: 400;
  padding: 25px 52px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  align-self: center;
}
.form-btn:hover {
  box-shadow: 0 0 5px rgba(89, 196, 85, 1);
}

.form-btn i {
  color: var(--white);
  margin-left: 35px;
  margin-right: 0;
}
