/* font-family: 'Lato', sans-serif; */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --green: #59c45a;
  --white: #ffffff;
  --gray: #474747;
  --darkgray: #3c3c3c;
  --lightgray: #959595;
  --wrapWidth: 1920px;
  --contWidth: 1200px;
  --font: "Lato", sans-serif;
}
body {
  background: var(--white);
  font-family: var(--font);
}
.site-wrapper {
  max-width: var(--wrapWidth);
  margin: 0 auto;
}
.container {
  max-width: var(--contWidth);
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}
.menu {
}
.menu-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.menu-list__item {
}
.menu-list__link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--gray);
  display: block;
  padding: 56px 23px;
  font-size: 18px;
  font-weight: 900;
  transition: all 0.3s ease;
}
.menu-list__link:hover {
  color: var(--white);
  background: var(--green);
}
header .container {
  align-items: center;
}
.logo {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--green);
  font-size: 28px;
  display: block;
  padding: 12px 21px;
  border: 2px solid #b7b7b7;
  position: relative;
}
.logo:after {
  content: "travel";
  position: absolute;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  color: var(--green);
  padding: 0 15px;
  background: var(--white);
  bottom: -10px;
  left: 40px;
}
.mob-menu {
  display: none;
}

.home {
  min-height: 915px;
  background-image: url("../img/bg-shadow.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}
.container {
}
.home-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: inherit;
  text-align: center;
}
.home__title {
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: var(--white);
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.home__text {
  color: var(--white);
  max-width: 1000px;
  font-size: 22px;
  font-weight: 400;
  line-height: 38px;
  margin-bottom: 90px;
}
.home__link {
  color: var(--white);
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  background-color: var(--green);
  text-decoration: none;
  padding: 25px 44px;
}
.favor {
  padding: 100px 0 70px;
}
.section-title {
  text-align: center;
  text-transform: uppercase;
  color: var(--green);
  font-size: 28px;
  font-weight: 400;
  margin: 0;
  position: relative;
}
.section-title::before {
  content: "";
  position: absolute;
  display: block;
  width: 151px;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background: #c2c2c2;
}
.section-title::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  top: 39px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  background: var(--green);
}
.fav-container {
  flex-wrap: wrap;
  margin-top: 60px;
}
.fav-item {
  width: 48%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}
.fav__img {
  width: 40%;
  margin-right: 30px;
}
.fav-text {
  width: 280px;
}
.fav-text__title {
  color: var(--darkgray);
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 14px;
  margin-bottom: 23px;
}
.fav-text__descr {
  color: var(--lightgray);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
